
<section> 
    <p class="enfatizar">Valor</p>
    <p>{{especificacaoCompleta.Valor}}</p>
    <p class="enfatizar">Marca</p>
    <p>{{especificacaoCompleta.Marca}}</p>
    <p class="enfatizar">Modelo</p>
    <p>{{especificacaoCompleta.Modelo}}</p>
    <p class="enfatizar">Combustível</p>
    <p>{{especificacaoCompleta.Combustivel}}</p>
    <p class="enfatizar">Data referente à pesquisa</p>
    <p>{{especificacaoCompleta.MesReferencia}}</p>
    <div class="botao-voltar">
        <button routerLink="/filtro">
            <img src="assets/arrow-left.svg" alt="">
        </button>
    </div>    
</section>


