
<section > 
    <p class="enfatizar">Valor</p>
    <p>{{especificacaoCompleta.valor}}</p>
    <p class="enfatizar">Marca</p>
    <p>{{especificacaoCompleta.marca}}</p>
    <p class="enfatizar">Modelo</p>
    <p>{{especificacaoCompleta.modelo}}</p>
    <p class="enfatizar">Combustível</p>
    <p>{{especificacaoCompleta.combustivel}}</p>
    <p class="enfatizar">Data referente à pesquisa</p>
    <p>{{especificacaoCompleta.mesReferencia}}</p>
    <div class="botao-voltar">
        <button routerLink="/filtro">
            <img src="assets/arrow-left.svg" alt="">
        </button>
    </div>    
</section>


