
<app-container>
<form [formGroup]="momentFomrs">
    <section>   
        <label><h2>TABELA FIPE</h2></label>
        <div class="form-group">
        <select formControlName="marca" (change)="obterVeiculos($event)" class="marcas-carros" >
            <option value="">Escolha uma das marcas</option>
            @for(elementos of marcas; track elementos){
                <option >{{elementos.nome}}</option>
            }
        </select>
        <div *ngIf="informacaoPronta && momentFomrs.get('marca')?.invalid">
            <p class="mensagem-erro">selecione uma marca</p>
            </div>
        </div> 
        <div class="form-group">
        <select formControlName="veiculo" (change)="obterEspecificacaoVeiculos($event)">
                <option>Escolha um dos veículos</option>
            @for (veiculo of veiculos2; track veiculo) {
                <option >{{veiculo.nome}}</option>
            }
            </select>
            <div *ngIf="informacaoPronta && momentFomrs.get('veiculo')?.invalid">
                <p class="mensagem-erro">selecione um veiculo</p>
            </div>
        </div>
        <div class="form-group">
        <select formControlName="modelo" (change)="obterAnoEcombustivel($event)">
                <option>Escolha um dos modelos</option>    
            @for(especificacao of especificacoes; track especificacao;){
                    <option >{{especificacao.nome}}</option>
                }         
            </select>
            <div *ngIf="informacaoPronta && momentFomrs.get('modelo')?.invalid">
                <p class="mensagem-erro">selecione uma modelo</p>
            </div>
        </div> 
            <div class="botoes">
                <button (click)="obterEspecificacaoCompleta()">CONSULTAR</button>
                <button (click)="resetarEspecificacoCompleta()">RESETAR</button>
            </div> 
        </section>
</form>
</app-container>
   

